/* backup.css */
/* japanese */
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  color: #686868;
  font-family: 'Nunito';
  margin: 0 auto;
}

#home-page-content {
  position: relative;
  margin-top: 40px;
}

.pair-container {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 300px;
  height: 150px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(94,94,94,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(94,94,94,1);
  box-shadow: 0px 0px 10px 0px rgba(94,94,94,1);
  background: white;
}

.pair-container div {
  display: inline-block;
  float: left;
  position: relative;
  width: 50%;
  text-align: center;
  top: 50px;
  font-size: 32px;
  color: #686868;
}

#generate-btn {
  display: block;
  margin: 0 auto;
  position: relative;
  font-size: 24px;
  padding: 4px;
  top: 25px;
  color: #686868;
  border-radius: 4px;
  background: white;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(94,94,94,1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(94,94,94,1);
  box-shadow: 2px 2px 15px 0px rgba(94,94,94,1);
  cursor: pointer;
  border: none;
}

#generate-btn:hover {
  background: #686868;
  color: white;
  transition: 0.5s;
}

#hiragana-title {
  color: white;
  position: relative;
  display: block;
  margin: 0 auto;
  font-weight: 100;
  text-align: center;
  top: 75px;
}

#table-wrapper {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 100px;
}

@media (max-width: 480px) and (min-width: 250px) {
  .table-box {
    width: 40px;
    height: 40px;
  }

  .box-half {
    font-size: 14px;
  }

  .boxhalf {
    font-size: 14px;
  }
}

.table-box {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  padding: 2px;
  margin: 2px;
  position: relative;
  float: left;
  background: rgba(108, 192, 136, 0.2);
  border: 1px solid rgba(108, 192, 136, 0.2);
  transition: 0.5s;
}

.table-box div {
  transition: 0.5s;
}

.box-romaji {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  padding: 2px;
}

.box-hiragana {
  position: relative;
  float: left;
  width: 42%;
  text-align: center;
  padding: 2px;
}

.box-katakana {
  position: relative;
  float: left;
  width: 42%;
  text-align: center;
  padding: 2px;
}

/* patterns */
#patterns-content {
  text-align: center;
}

.pattern {
  padding: 6px;
}


.topic-content {
  display: block;
  margin: 0 auto;
  position: relative;
  background: white;
  width: 400px;
  top: 100px;
  border-radius: 6px;
  padding: 4px;
}

#character-similarities {
  overflow-x: auto;
}

/* sentence order */
.sentence-text {
  text-align: center;
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  float: left;
  margin-bottom: 5px;
}

#sentence-order {
  display: block;
  margin: 0 auto;
  position: relative;
  left: 25%;
}

.language-title {
  text-align: center;
}

.sentence-structure {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 275px;
  background: rgba(108, 192, 136, 0.2);
  margin-top: 35px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.example-title {
  text-align: center;
}

.combo-example {
  position: relative;
  margin: 0 auto;
  display: block;
  left: 8%;
}

.topic {
  position: relative;
  margin-right: 4px;
  margin-left: 4px;
  padding: 4px;
  background: none;
  display: inline-block;
}

.translation-tag {
  font-style: bold;
  width: 40px;
}

.number {
  width: 18px;
  font-size: 12px;
  text-align: center;
  position: relative;
  float: left;
  left: -5px;
}

/*
.translation-example {
  width: 375px;
  display: block;
  margin: 0 auto;
  position: relative;
}*/

/* match game */
.match-list {
  display: inline-block;
  list-style-type: none;
}

.match-list li {
  display: block;
  margin: 0 auto;
  position: relative;
}


/* mobile layout */
#niheigo {
  text-align: center;
  background: #6CC088;
  margin-top: 0px;
  padding: 4px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
}

.section-title {
  position: relative;
  top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: underline;
  text-align: center;
  padding-top: 10px;
}

/* footer */
#nav-list-container-bottom {
  position: fixed;
  display: block;
  margin: 0 auto;
  width: 100%;
  bottom: 0px;
  text-align: center;
  float: left;
}

.nav-list-btm {
  background: #6CC088;
  position: relative;
  display: block;
  margin: 0 auto;
  z-index: 100;
  width: 100%;
  padding-bottom: 4px;
  padding-left: 0px;
}

.nav-list-li-btm {
  display: inline-block;
  list-style-type: none;
  height: 35px;
  width: 32%;
  color: white;
}

.nav-list-li-btm:hover {
  color: white;
  background: #686868;
}

.navigation-link {
  position: relative;
  top: 10px;
}

#interact-box {
  background: white;
  height: 0;
  transition: 1s ease;
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  bottom: 38px;
  display: block;
  margin: 0 auto;
  border: 1px solid #6CC088;
  border-radius: 4px;
}

#top-row li {
  list-style-type: none;
  display: inline-block;
}

#addball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: green;
  box-shadow: 0px 0px 4px 0px;
  border: 1px solid green;
  transition: 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

/* middle content general */
.topic-container {
  display: none;
  position: relative;
  top: 40px;
  overflow-y: scroll;
  float: left;
  overflow-x: hidden;

}

#table-content {
  display: none;
}

#sentences-content {
  display: none;
  margin-bottom: 50px;
}

#patterns-content {
  display: none;
}

#match-content {
  display: none;
}

#rhk-table {
  overflow-y: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 375px;
  left: 30px;
}

/* table & pattern content */
#rhk-table-wrapper {
  display: block;
  margin: 0 auto;
  position: relative;
}

#patterns-body {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 65px;
}

.controls-container {
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
}

.controls-container button {
  width: 49%;
  padding: 4px;
  background: none;
  border-radius: 4px;
  left: 2px;
  position: relative;
}

/* sentence structure */
#phraselist-btn {
  width: 100px;
  display: block;
  margin: 0 auto;
  position: relative;
}

#je-toggle {
  position: relative;
  left: 10px;
  top: 10px;
  display: block;
  margin: 0 auto;
  padding: 6px;
  margin-bottom: 10px;
}

.phrases {
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 4px;
  border-radius: 4px;
  background: rgba(108, 192, 136, 0.2);
  margin-bottom: 5px;
  margin-top: 5px;
}

/* box-none */
.box-none {
  background: white;
  border: 1px solid white;
}
